#container{
    background-color: rgb(242,242,242);
    width:1306px;
    height:900px;
    padding-left: 20px;
}
#header{
    width:1306px;
}
.list-font{
    font-family: Arial, "Microsoft YaHei", "Hiragino Sans GB", sans-serif;
    font-size:20px;
}
#list-left{
    float:left;
    position:relative;
    list-style: none;
    height:50px;
}
#list-left li{
    display:block;
    float:left;
    margin:0 10px;
}
#list-right{
    float:left;
    position:absolute;
    left:900px;
    height:50px;
    list-style: none;
}
#list-right li{
    display: block;
    float:left;
    margin: 0 10px;
}
.icon{
    margin:0 5px;
}
.line{
    border-bottom: 2px solid  #cfcfcf ;
    width:1135px;
    text-align: center;
    padding-top: 70px;
    margin-left: 50px;;
}
#content-left{
    height:132px;
    position:absolute;
    left:80px;
    margin-top: 10px;


}
#head-image{
    float:left;

}
#head-text{
    float:left;

}
.h3,.h6{
    display:inline;
    font-family: Arial, "Microsoft YaHei", "Hiragino Sans GB", sans-serif;
    margin:5px 5px;
}
#button{
    margin:20px;
}
#content-right{
    position: absolute;
    right:100px;
}
#content-right{
    position:absolute;
    right:150px;
    width:300px;
}
.status-left,.status-right{
    float:right;
    margin:0 10px;
    text-align: center;
}
.s-line{
    border-right:2px solid #cfcfcf;
    height:20px;
    position: absolute;
    right:40px;
    top:40px;
}
#content-foot{
    position: absolute;
    top:200px;
    left:100px;
}
.images{
    background-color: white;
    width:170px;
    height:160px;
    float:left;
    text-align: center;
    margin:10px;

}