#container{
  background-image: url(../lib/imagesP/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width:960px;
  margin:0 auto;
  text-align: center;
  position:relative;
}
.searchform{
  padding-left: 600px;
}
.text{
  text-indent: 2em;
  text-align: left;
}
.border{
  border:0;
  padding: 0;
}
.tablestyle{
  border: 0;
}
.formstyle{
  width:500px;
}

.layout{
  padding:5px 0;
  margin：0；
}
.btnlayout{
  margin:20px;
  left:200px;
}
